.expenseComponent{
    background-color: var(--background-color);
    color: var(--text-color);
    padding: 1rem;
    margin-left: 260px;
    margin-top: 20px;
    border-radius: 10px;
    box-shadow: 8px 8px 8px rgba(0, 0, 0, 0.1);
}

.expenseComponent .expenseHeading{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    color: var(--text-color);
}

.expenseComponent .expenseHeading span{
    font-size: 18px;
}
.expenseComponent .newExpenseSection{
    background-color: var(--body-color);
    color: var(--text-color);
    border-radius: 10px;
    padding: 1rem;
}

.expenseComponent .newExpenseSection .addNewExpense{
    display: flex;
    justify-content: center;
    align-items: center;
}

.expenseComponent .newExpenseSection .addExpenseModal .addExpenseForm{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.expenseComponent .newExpenseSection .addExpenseModal .addExpenseForm .confirmCancel{
    margin-top: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.expenseComponent .newExpenseSection .addExpenseModal .addExpenseForm .confirmCancel .cancelBtn{
    background-color: var(--secondary-color);
    color: var(--text-color);
    padding: 10px 20px;
    border-radius: 7px;
    text-align: center;
    border: none;
    cursor: pointer;
    transition: all ease 0.4s;
}

.expenseComponent .newExpenseSection .addExpenseModal .addExpenseForm .confirmCancel .cancelBtn:hover{
    background-color: var(--secondary-hover);
    transform: scale(0.95);
}

.expenseComponent .newExpenseSection .addExpenseModal .formData{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 14px;
}

.expenseComponent .newExpenseSection .addExpenseModal .addExpenseForm input, select, textarea{
    padding: 8px;
    border-radius: 6px;
    border: 1px solid #ccc;
}

.expenseComponent .newExpenseSection .addExpenseModal .expenseElement{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;
    color: var(--text-color);
    font-size: 18px;
    margin-right: 10px;
}

.expenseComponent .newExpenseSection .addNewExpense .addExpensebtn,
.expenseComponent .addExpenseModal .addExpenseForm .submitBtn{
    background-color: var(--primary-color);
    color: var(--text-color);
    padding: 10px 20px;
    border-radius: 7px;
    text-align: center;
    border: none;
    cursor: pointer;
    transition: all ease 0.4s;
}

.expenseComponent .newExpenseSection .addNewExpense .addExpensebtn:hover,
.expenseComponent .addExpenseModal .addExpenseForm .submitBtn:hover{
    transform: scale(1.05);
    background-color: var(--primary-hover);
}

.expenseComponent .expenseContainer{
    padding: 1rem;
    background-color: var(--body-color);
    color: var(--text-color);
    margin-top: 1rem;
    border-radius: 10px;
}

.expenseComponent .expenseContainer .expenseItemsContainer{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
}

.expenseComponent .expenseContainer .expenseItemsContainer .expenseItem{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.expenseComponent .expenseContainer .expenseItemsContainer .expenseItem .deleteUpdateExpense{
    display: flex;
    gap: 0.5rem;
    align-items: center;
}

.expenseComponent .expenseContainer .expenseItemsContainer .expenseItem .deleteUpdateExpense button{
    padding: 10px 20px;
    border-radius: 6px;
    text-align: center;
    border: none;
    cursor: pointer;
}

.expenseComponent .expenseContainer .expenseItemsContainer .expenseItem .deleteUpdateExpense .updateBtn{
    background-color: var(--update-btn-color);
    color: var(--text-color);
    transition: all 0.3s ease;
}

.expenseComponent .expenseContainer .expenseItemsContainer .expenseItem .deleteUpdateExpense .updateBtn:hover{
    transform: scale(1.05);
    background-color: var(--update-btn-hover);
}

.expenseComponent .expenseContainer .expenseItemsContainer .expenseItem .deleteUpdateExpense .deleteBtn{
    background-color: var(--secondary-color);
    color: var(--text-color);
    transition: all 0.3s ease;
}

.expenseComponent .expenseContainer .expenseItemsContainer .expenseItem .deleteUpdateExpense .deleteBtn:hover{
    transform: scale(0.95);
    background-color: red;
}
