:root{
    --body-color: #134B70;
    --primary-color: #201E43;
    --secondary-color: #FF6F61;
    --background-color: #508C9B;
    --text-color: #EEEEEE;
}

body{
    background-color: var(--body-color);
    color: var(--text-color);
}