:root{
    --body-color: #134B70;
    --body-hover: #1A5e8E;
    --primary-color: #201E43;
    --primary-hover: #2D2A5A;
    --secondary-color: #FF6F61;
    --secondary-hover: red;
    --background-color: #508C9B;
    --background-hover: #6AA3B0;
    --update-btn-color: #28a745;
    --update-btn-hover: #218838;
    --text-color: #EEEEEE;
}

body{
    background-color: var(--body-color);
    color: var(--text-color);
}