:root{
    --body-color: #134B70;
    --body-hover: #1A5e8E;
    --primary-color: #201E43;
    --primary-hover: #2D2A5A;
    --secondary-color: #FF6F61;
    --secondary-hover: red;
    --background-color: #508C9B;
    --background-hover: #6AA3B0;
    --update-btn-color: #28a745;
    --update-btn-hover: #218838;
    --text-color: #EEEEEE;
}

/* Dark Mode */
[data-theme="dark"] {
    --body-color: #0d1117;
    --body-hover: #161b22;
    --primary-color: #010409;
    --primary-hover: #0a0e14;
    --secondary-color: #FF6F61;
    --secondary-hover: red;
    --background-color: #070707;
    --background-hover: #1a1a1a;
    --update-btn-color: #28a745;
    --update-btn-hover: #218838;
    --text-color: #FFFFFF;
}

/* Light Mode */
[data-theme="light"] {
    --body-color: #f7f7f7;
    --body-hover: #F0F0F0;
    --primary-color: #EAEAEA;
    --primary-hover: #838388;
    --secondary-color: #DC3545;
    --secondary-hover: #FF4C39;
    --background-color: #E5F4FD;
    --background-hover: #E5E5E5;
    --update-btn-color: #28a745;
    --update-btn-hover: #218838; 
    --text-color: #333333;
}

body{
    background-color: var(--body-color);
    color: var(--text-color);
    transition: background-color 0.5s, color 0.5s;
}